<!--============================footer======================================-->
<footer id="footer">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="fond_footer1">
                        <div class="footer1_text">© 2019 Copyright:
                            <a href="../page_d_accueil/page_d_accueil.html"> Vin de Prestige.com</a>
                            <p>La vente d’alcool à des mineurs de moins de 18 ans est interdite.
                                En accédant à nos offres, vous déclarez avoir 18 ans révolus. Conformément à l'bouteille
                                34 de la loi informatique et liberté du 6 janvier 1978, vous disposez d'un droit
                                d'accès, de modification, de rectification et de suppression des données vous
                                concernant. Déclaration CNIL sous le n° 1438503 - L‘ABUS D’ALCOOL EST DANGEREUX POUR LA
                                SANTÉ - CONSOMMEZ AVEC MODÉRATION</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact">
                        <h5><i class="fa fa-at"></i>vindeprestige@gmail.com</h5>
                        <h5><i class='fas fa-phone'></i>02 51 89 55 55</h5>
                        <h5><i class='far fa-envelope-open'></i>58 Rue des vignes<br />
                            88888 Saint Estèphe</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!--============================fin footer======================================-->