<!DOCTYPE html>
<html>

<head>


    <title>Vin de Prestige</title>

    <!--======================head de base ====================================-->

    <meta name="description" content="Reservation de grand cru à prix negocié" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--icones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family%3DFjalla%2BOne%7CSarala%26display%3Dswap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!--CSS-->
    <link rel="stylesheet" href="/resources/css/pagePrincipale.css">
    <link rel="stylesheet" href="/resources/css/800Chateaux.css">
    <link rel="stylesheet" href="/resources/css/bouteilleFiche.css">
    <link rel="stylesheet" href="/resources/css/error404.css">
    <link rel="stylesheet" href="/resources/css/footer.css">
    <link rel="stylesheet" href="/resources/css/index.css">
    <link rel="stylesheet" href="/resources/css/login.css">
    <link rel="stylesheet" href="/resources/css/logoDeBase.css">
    <link rel="stylesheet" href="/resources/css/logoPartenaire.css">
    <link rel="stylesheet" href="/resources/css/bouteilletableau.css">
    <link rel="stylesheet" href="/resources/css/navbar.css">
    <link rel="stylesheet" href="/resources/css/bouteilleAjout.css">
    <link rel="stylesheet" href="/resources/css/messageUtilisateur.css">
    <link rel="stylesheet" href="/resources/css/compteUtilisateur.css">

    <!--Icones-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <!--editor-->
    <script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
    <script src="/resources/dom/dom.js"></script>
</head>
<!--========================fin head de base=============================-->