<!--==============================LOGO=====================================-->

<section>
    <a style="text-decoration:none" href="/pagePrincipale">
        <div class="containerLogo">
            <div class="logo">
            </div>
    </a>
</section>


<!--======================FIN LOGO=============================-->