<div class="container-fluid">
    <div class="textLogoPartenaires">Nos Partenaires qui soutiennent le vin de france</div>
    <div class="logoPartenaire">
        <img src="/resources/images/logobourgogne.jpg">
        <img src="/resources/images/logodivine.jpg">
        <img src="/resources/images/logoplaisir.jpg">
        <img src="/resources/images/logotache.jpeg">
        <img src="/resources/images/logovinfrance.jpg">
        <img src="/resources/images/logociteduvin.jpg">
        <img src="/resources/images/logobordeaux.jpeg">

    </div>
</div>