<div class="kode-content">
    <div class="container-fluid">
        <div class="error-404">
            <h2>Whooos!!!</h2>
            <div class="page-404">
                <p>404</p>
                <span>Page introuvable</span>
            </div>
            <p>Erreur d'URL 404 </p>
            <p>Sorry</p>
            <a href="/pagePrincipale" class="go-back">Retournez sur la page d'accueil</a>
        </div>
    </div>
</div>