<!--Page d'accueil-->

<section class="containerEntree">
    <video id='my-video' class='video-js' autoplay loop muted>
        <source src='/VinPrestigeMP4.webm' type='video/mp4'>
    </video>
    <div class="titre">
        <p>Dieu créa l'eau... le soleil... la terre... et l'homme créa le...</p>
        <h2>Vin de</h2>
        <span>PRESTIGE</span>
        <h4>Site de réservation de vins à prix négociés</h4>
        <div class="buttEttext">
            <h5>VIP dédié aux membres</h5>
            <h6>Vous devez avoir plus de 18 ans pour acceder à ce site!</h6>
            <a class="btnAccueil1" href="/user/login">Se connecter</a>
            <a class="btnAccueil2" href="/user/create">S'inscrire</a>

        </div>
    </div>

</section>